*{margin: 0; padding: 0;}

div.title{
    font-size: 40px;
    text-align-last: center;
    background-color: #333;
    color: white;
    margin-top: 0px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.slider{
  width: 110%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite;
  animation-direction: alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

@keyframes cambio {
  0% { margin-left: 0;}
  20% { margin-left: 0;}

  25% { margin-left: -100%;}  
  45% { margin-left: -100%;}

  50% { margin-left: -200%;}  
  70% { margin-left: -200%;}

  75% { margin-left: -300%;}  
  100% { margin-left: -300%;}
}
